p,
th,
td
 {
  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
  }

  @media (max-width: 480px) {
    font-size: 10px;
  }
}

label,
input {
  @media (max-width: 1024px) {
    font-size: 17px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

button {
  @media (max-width: 1024px) {
    font-size: 17px;
    padding: 8px 15px;
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 6px 7px;
  }

  @media (max-width: 480px) {
    font-size: 7px;
    padding: 4px 3px;
  }
}

h1{
  @media (max-width: 1024px) {
    font-size: 30px;
  }

  @media (max-width: 768px) {
    font-size: 28px;
  }

  @media (max-width: 480px) {
    font-size: 26px;
  }
}

