button {
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #18A0B1;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background-color: #18A0B1;
}

button:active {
  background-color: #107c8a;
}