.header{
    display: flex;
    justify-content: space-between;
}

.linkLogo{
    text-decoration: none
}

.logo{
    width: 37px;
    height: 30px;
    cursor: pointer;
}

.header-popularCrypto{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-popularCrypto__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px 0px 0px; 
}

.backpack{
    width: 30px;
    height: 45px;
    cursor: pointer;
}