table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0px;
}

thead th {
  border-top: 3px solid #92b8bd;
  border-bottom: 3px solid #92b8bd;
}

th,
td {
  width: auto;
  text-align: left;
}

.buttonModal {
  display: flex;
  justify-content: center;
}

.buttonPagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonPagination > button {
  margin: 10px;
}

.buttonPagination-disabled[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
